.wrapper {
    background-color: white;
    border-radius: 8px;
    padding: 16px 24px;
    width: 400px;
    min-height: 300px;
    box-shadow: 0 0 8px #ababab;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.header-content {
    font-weight: 500;
}

.header-icon {
    padding-left: 10px;
    padding-top: 2px;
    font-size: 22px;
    color: #2b61a4;
}

.task-statuses {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 13px;
    margin: 16px 0 20px;
    user-select: none;
}

.task-status {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    padding: 3px 8px;
}

.task-status__content,
.task-number {
    font-weight: 500;
}

.task-status__content {
    margin-bottom: 1px;
}

.task-status__icon {
    font-size: 11px;
}

.task-total {
    background-color: rgb(237, 237, 237);
}

.task-completed {
    background-color: rgb(192, 237, 192);
}

.task-uncompleted {
    background-color: rgb(255, 186, 186);
}

.add-task {
    margin-bottom: 14px;
    position: relative;
}

.task-input,
.submit-btn {
    border: none;
    border-radius: 100px;
    background-color: #ededed;
    color: black;
    outline: none;
    padding: 12px 16px;
}

.task-input {
    width: 100%;
    padding-right: 50px;
}

.submit-btn {
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    font-weight: 550;
    color: #525252;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.8;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0 10px;
}

.task-item:hover #task-checkbox {
    opacity: 0.6;
}

.task-checkbox {
    cursor: pointer;
    height: 18px;
    width: 18px;
    padding: 4px;
    margin-right: 10px;
}

.task-checkbox:checked {
    border-color: blue;
    color: red;
}

.task-content {
    flex-grow: 1;
    margin-top: -3px;
}

.task-delete {
    cursor: pointer;
    font-size: 17px;
    opacity: 0.5;
}

.task-delete:hover {
    opacity: 0.8;
}

.completed .task-checkbox {}

.completed .task-content {
    text-decoration: line-through;
    color: #8a8a8a;
}